<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module_base">


    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application

        >
        <activity android:name=".activity.AboutActivity"></activity>
        <activity
            android:name=".activity.DealViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name_channel}" />


        <!--友盟-->
        <!--正式：605b0b9cb8c8d45c13ae24a4-->
        <meta-data android:value="605b0b9cb8c8d45c13ae24a4" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>