<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.videlplayer">


    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name_channel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup,android:label"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.module_video.ui.activity.BeginActivity" android:launchMode="singleTask" android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>